<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{../static/css/common.css}" type="text/css">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<button class="btn btn-lg btn-default" th:onclick="window.location.href='/'">To main screen</button>
    <table class="table">
        <thead>
        <tr>
            <th>Model</th>
            <th>Manufacturer</th>
            <th>Capacity</th>
        </tr>
        </thead>
        <tbody th:each="showroom: ${showrooms}">
        <tr th:id="${showroom.getId().toString()}">
            <th th:text="${showroom.getName()}"></th>
            <th th:text="${showroom.getAddress()}"></th>
            <th th:text="${showroom.getCapacityInCars()}"></th>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-lg btn-default" onclick="createItem()">Create</button>
    <button class="btn btn-lg btn-default" onclick="editItem()">Edit</button>
    <button class="btn btn-lg btn-default" onclick="deleteItem()">Delete</button>
</body>
<style>
    .selected{
        background-color: blue;
    }
</style>
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script>
    let customElements = document.querySelectorAll('tbody tr');
    for(let elem of customElements){
        elem.onclick = function () {
            setSelected(elem)
        }
    }
    function setSelected(elem){
        let prevSelected = document.getElementsByClassName("selected");
        if(prevSelected.length > 0) {
            prevSelected.item(0).classList.remove("selected");
        }
        elem.classList.add("selected");
    }

    function editItem() {
        let path = '/showroom-edit?id=';
        let a = document.getElementsByClassName("selected").item(0)
        if(!a) return;
        path += a.id;
        location.href=path;
    }

    function createItem(){
        let path = '/showroom-edit';
        location.href=path;
    }

    function deleteItem(){
        let path = '/showroom-delete/';
        let a = document.getElementsByClassName("selected").item(0)
        if(!a) return;
        path += a.id;
        $.ajax({
            url: path,
            type: 'GET',
            success: function (result) {
                $(a).hide();
            }

        })
    }
</script>
</html>
